language: julia
julia:
  - 0.4
  - 0.5
  - 0.6
notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ecfd7123156aeb0a3bf3
    on_success: change
    on_failure: always
    on_start: never
after_success:
  - julia -e 'cd(Pkg.dir("ACME")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder()); Coveralls.submit(process_folder())'
  - julia -e 'Pkg.add("Documenter", v"0.8.10", v"0.8.10+"); cd(Pkg.dir("ACME")); include(joinpath("docs", "make.jl"))'
